@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.firstDiv {
  position: absolute;
}

.secondDiv {
  text-align: center;
}

.areaTitle {
  width: 314px;
  height: 120px;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 120px;
  color: #094067;
  font-family: "Orbitron", sans-serif;
}

.loginTitle {
  width: 142px;
  height: 56px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #5f6c7b;
}

.createButton {
  width: 350px;
  height: 75px;
}

.googleButton {
  width: 350px;
  height: 75px;
}

.googleTitle {
  padding-left: 11px;
}

.containerCreate {
  padding-bottom: 20px;
}

.containerLogin {
  padding-bottom: 112px;
}

.accountButton {
  padding-bottom: 15px;
}
