@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.SquareAddAD {
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #094067;
  box-shadow: -6px 6px #90b4ce;
  cursor: pointer;
}

.IconAD {
  color: #094067;
}

.TitleNewAD {
  width: 195.51px;
  height: 81.32px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #5f6c7b;
}

.DivTitleAD {
  padding-top: 30px;
}

.DivIconAD {
  padding-top: 40px;
}
