@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.AreaTitleAP {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 120px;
  color: #094067;
}

.AllTitleAP {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #5f6c7b;
}

.RectangleAP {
  padding: 55px;
}

.MainDivAP {
  display: flex;
}

.RightSideAP {
  padding-left: 200px;
  padding-top: 30px;
}
