@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.ContainerEnterInfo {
  margin-top: 9em;
  margin-left: 13em;
  position: absolute;
}
.ContainerRightPanel {
  margin-top: 13em;
  margin-left: 75em;
  position: absolute;
}
