@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.RectangleLS {
  width: 1186px;
  height: 809px;
  background-color: #d8eefe;
  border-radius: 5px;
  border: 2px solid #094067;
  box-shadow: -6px 6px #90b4ce;
}

.TitleChooseServiceLS {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #094067;
}

.TitleTriggerLS {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #5f6c7b;
}

.TitleLS {
  padding: 30px;
}

.LineLS {
  width: 2px;
  height: 512px;
  background-color: #094067;
}

.DivActionLS {
  display: flex;
}

.TitleActionLS {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #094067;
}

.TitlePossibleActionLS {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #5f6c7b;
}

.WipServiceLS {
  width: 400px;
  height: 400px;
  padding: 60px;
}

.DivLineLS {
  padding: 30px;
}

.LeftPanelLS {
  padding-left: 30px;
  text-align: center;
  padding-top: 30px;
}
