@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.RectangleEnterInfo {
  position: absolute;
  width: 600px;
  height: 650px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #094067;
  box-shadow: -10px 10px #90b4ce;
}

.RectangleEnterInfo {
  position: absolute;
  width: 600px;
  height: 650px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #094067;
  box-shadow: -10px 10px #90b4ce;
}

.InputEmail {
  background-color: #ffffff;
}

.InputPassword {
  background-color: #ffffff;
}

.ContainerWelcome {
  width: 260px;
  height: 120px;
  padding: 65px;
}

.WelcomeTitle {
  display: block;
  text-align: justify;
  align-items: baseline;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #094067;
}

.ToolsTextField {
  width: 465.52px;
}

.ContainerLogin {
  padding-top: 50px;
  padding-bottom: 50px;
}
