@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.ButtonLinkH {
  padding-top: 450px;
  padding-bottom: 10px;
}

.ButtonSignH {
  padding-top: 450px;
}

.AreaTitleH {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 120px;
  color: #094067;
}

.AllTitleH {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #5f6c7b;
}

.SecondDivH {
  width: 350px;
  height: 800px;
  padding-top: 100px;
  padding-left: 400px;
}

.DivHomeHM {
  display: flex;
}

.DivAddHM {
  padding-top: 100px;
  padding-left: 50px;
}

.CreateButtonH {
  width: 350px;
  height: 75px;
}

.LinkButtonH {
  width: 350px;
  height: 75px;
}
